<li><%= link_to "Doubleshot" , "http://doubleshotcoffee.com/" %></li>
<li>Buy Coffee</li>
<li><a href="http://doubleshotcoffee.com/Roasting.html">Roasting</a></li>
<li><a href="http://doubleshotcoffee.com/2Contact.html">2Contact</a></li>
<li><a href="http://doubleshotcoffee.com/Propaganda.html">Propaganda</a></li>
<li><a href="http://doubleshotcoffee.com/Wholesale.html">Wholesale</a></li>
<li><a href="http://blog.doubleshotcoffee.com">Blog</a></li>
<%= render 'shared/login_bar' %>
<% if store_menu? %>
  <%= render 'shared/store_menu' %>
<% end %>